################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/GraphQLDemo/DesignTimeBuild
/.vs/GraphQLDemo/v16/Server/sqlite3
/WebClient/.vscode
