################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################
/.vs
/.vs/GraphQLDemo/DesignTimeBuild
/.vs/GraphQLDemo/v16/Server/sqlite3

/API/obj
/API/bin/Debug/netcoreapp3.1
