<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Home</a>
    </div>
    <ul class="nav navbar-nav">
      <li><a href="formsample">Forms</a>&nbsp;&nbsp;</li>
      <li><a href="gridsample">Grid</a>&nbsp;&nbsp;</li>
    </ul>
  </div>
</nav>

<!-- <nav class="navbar navbar-inverse navbar-dark bg-primary navbar-expand-sm">
    <div class="collapse navbar-collapse" id="Navbar">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active"><a class="nav-link" href="#"> Home</a></li>
        </ul>
    </div>
</nav> -->